*{
    padding: 0px;
    margin: 0px;

}

#container{
    width: 996px;
    height: 616px;
    
}

#azul{
    background-color: blue;
    height: 120px;

}
#vermelho{
    background-color: red;
    min-height: 400px;
   
  }
#preto{
    background-color: black;
    min-height: 400px;
}
#amarelo{
    background-color: yellow;
    min-height: 400px;

}
#verde{
    background-color: #009900;
    height: 100px;

}
@media screen and (max-width: 576px){
    #azul{ 
        height: 60px;
    }
    #vermelho{
        height: 45px
    }
}
